<!DOCTYPE html>
<html>
<head>
<title>Hello world - Node.js Express</title>
<style>
body {font-family: sans-serif; line-height: 23px;}
code {color: #222; background: #f9f9f9;}
</style>
</head>
<body style="color: #333">
    <div style="max-width: 800px; margin: 0 auto;">
    <h1>Your github account is successfully linked. You may close this tab now.</h1>
<hr/>
</div>
</body>
</html>
